.bmi-container {
  background-color: rgb(49, 47, 47);
  padding-left: 5%;
  overflow: auto;
  padding-top: 3%;
  padding-bottom: 5%;
}
hr {
  border: none;
  height: 10px;
  height: 5px;
  width: 150px;
  background-color: #eb3941;
  margin-bottom: 1%;
}

.theory {
  padding-right: 40%;
}

.bmi-heading {
  font-size: 3.75rem;
  font-weight: 600;
  color: white;
}
.bmi-container span {
  font-size: 0.93rem;
  font-weight: 600;
  color: white;
}
.bmi-labels {
  font-size: 1.25rem;
  font-weight: 400;
  color: #eb3941;
  padding-top: 1.25rem;
}

.bmi-input {
  width: 40%;
  height: 50%;
}

.result {
  font-size: 1.25rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: red;
}
#btn {
  background-color: #eb3941; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen and (max-width: 550px) {
  .bmi-heading {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .bmi-labels {
    font-size: 1rem;
    font-weight: 400;
  }

  .bmi-input {
    width: 40%;
    height: 50%;
  }

  .result {
    font-size: 1rem;
    font-weight: 400;
    color: red;
  }
}
